// Estilos generales del main
main {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: $color-fondo-main;

    .resultados-contenidos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }

    // Estilo para la sección de texto
    .texto {
        flex: 1;
        min-width: 300px;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;

        h1 {
            font-size: 2rem;
            color: $color-titulo;
            margin-bottom: 15px;
        }

        h2 {
            font-size: 1.5rem;
            color: $color-titulo;
            margin-bottom: 15px;
        }

        p {
            font-size: 1rem;
            color: $color-texto-secundario;
            line-height: 1.6;
        }
    }

    // Estilo para la sección de imágenes
    .imagenes {
        flex: 1;
        min-width: 300px;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
}