// Variables de color main 
$color-fondo-main: #fff;
$color-texto-principal: #333;
$color-secundario: #555;
$color-titulo: #e10600;
$color-fondo-secundario: #f4f4f4;
// Variables de color resultados
$color-fondo-main: #f8f9fa;
$color-titulo: #e10600;
$color-texto-principal: #333;
$color-texto-secundario: #555;
$color-borde: #ccc;

// Variables de color header
$color-principal: #A80025;
$color-blanco: #fff;
$color-negro: #0e0d0d;
$color-hover: #e10600;

// Variables de color footer
$color-fondo-footer: #7e7575;
$color-blanco: #fff;
$color-secundario: #aaa;
$color-hover: #e10600;

// Variables de color store 
$color-fondo-main: #f8f9fa;
$color-titulo: #e10600;
$color-texto-principal: #333;
$color-texto-secundario: #555;
$color-imagen-fondo: #ffffff;

