header {
    background-color: $color-secondary;
}

main {
    @include flex-center(row, 15px);
    flex-wrap: wrap;
    padding: 15px;

    .contenido-principal {
        @include flex-center(row, 20px);
        flex-wrap: wrap;
        background-color: #fff;
        padding: 20px;
        width: 100%;

        .textos {
            flex: 1;
            min-width: 300px;

            h1 {
                @include text-style(2rem, rgb(10, 10, 10));
                margin-bottom: 15px;
            }

            .texto {
                @include text-style(1rem, $color-light-text);
                margin-bottom: 15px;
            }
        }

        .img {
            min-width: 300px;
            @include flex-center;

            img {
                max-width: 100%;
                height: auto;
                border-radius: $border-radius;
                object-fit: cover;
            }
        }
    }
}