// Colores
$color-background: #f4f4f4;
$color-primary: #e10600;
$color-secondary: #A80025;
$color-text: #333;
$color-light-text: #555;
$color-footer-bg: #222;
$color-footer-text: #fff;

// Fuentes
$font-family: 'Arial, sans-serif';

// Bordes
$border-radius: 10px;